<%= form_for(apoiar, html: { multipart: true }) do |f| %>
  <% if apoiar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(apoiar.errors.count, "error") %> encontrado(s):</h2>

      <ul>
      <% apoiar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label 'Pedido', class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <%= f.collection_select(:pedido_id, @pedidos, :id, :nome_projeto,  {}, { class: "form-control" } ) %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Apoiar", class: "btn btn-primary" %>
  </div>
<% end %>
