<% if ! @apoiars.empty? %>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Todas", apoiars_path, :class => "nav-link active" %>
  </li>
  <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to 'Cadastrar', new_apoiar_path, :class => "nav-link" %>
    </li>
  <% end %>
</ul>

<div class="tab-content">
  <div class="tab-pane active"><br/>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Pedido Apoiado</th>
          <th>Projeto</th>
          <th>Entidade</th>
          <th>Quem?</th>
          <% if user_signed_in? %> <th colspan="3"></th> <% end %>
        </tr>
      </thead>

      <tbody>
        <% @apoiars.each do |apoiar| %>
        <tr>
          <td><%= link_to apoiar.pedido.tipo, apoiar_path(apoiar) %></td>
          <td><%= link_to apoiar.pedido.projeto.nome, projeto_path(apoiar.pedido.projeto) %></td>
          <td><%= link_to apoiar.pedido.projeto.entidade.nome, entidade_path(apoiar.pedido.projeto.entidade) %></td>
          <td><%= link_to apoiar.user.nome, user_path(apoiar.user) %></td>
          <% if user_signed_in? %>
            <td>
              <% if current_user.admin? or current_user.id == apoiar.user_id %>
                <%= link_to 'Detalhes', apoiar, :class => 'btn btn-info btn-sm' %>
                <%= link_to 'Editar', edit_apoiar_path(apoiar), :class => 'btn btn-warning btn-sm' %>
                <%= link_to 'Apagar', apoiar, method: :delete, data: { confirm: 'Você tem Certeza?' }, :class => 'btn btn-danger btn-sm' %>
              <% end %>
            </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% else %>
  <% if ! @pedidos.empty? %>
    <h3>Nenhum Registro Encontrado. <%= link_to 'Cadastrar?', new_apoiar_path %></h3>
  <% else %>
    <h3>Você precisa cadastrar pelo menos um Projeto. <%= link_to 'Cadastrar?', projetos_path %></h3>
  <% end %>
<% end %>
