<% if ! @projetos.empty? %>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Todas", projetos_path, :class => "nav-link active" %>
  </li>
  <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to 'Cadastrar', new_projeto_path, :class => "nav-link" %>
    </li>
  <% end %>
</ul>

<div class="tab-content">
  <div class="tab-pane active"><br/>
    <table class="table">
      <tbody>
        <% @projetos.each_slice(3) do |p| %>
        <tr>
          <% p.each do |projeto| %>
            <td class="list">
              <%= link_to image_tag(projeto.imagem.url(:medium), :width => "250"), projeto_path(projeto) %>
              <br/><br/>
              <b><%= link_to projeto.nome, projeto_path(projeto) %></b>
              <br/>
              <%= link_to truncate(projeto.descricao, :length => 32), projeto_path(projeto) %>
              <br/>
              <%= link_to truncate("Entidade Beneficiada #{projeto.entidade.nome}", :length => 32), entidade_path(projeto.entidade) %>
            </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% else %>
  <% if ! @entidades.empty? %>
    <h3>Nenhum Registro Encontrado. <%= link_to 'Cadastrar?', new_projeto_path %></h3>
  <% else %>
    <h3>Você precisa cadastrar pelo menos uma Entidade. <%= link_to 'Cadastrar?', new_entidade_path %></h3>
  <% end %>
<% end %>
