<% if ! @projetos.empty? %>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Todas", projetos_path, :class => "nav-link active" %>
  </li>
  <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to 'Cadastrar', new_projeto_path, :class => "nav-link" %>
    </li>
  <% end %>
</ul>

<div class="tab-content">
  <div class="tab-pane active"><br/>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Responsável</th>
          <% if user_signed_in? %> <th colspan="3"></th> <% end %>
        </tr>
      </thead>

      <tbody>
        <% @projetos.each do |projeto| %>
        <tr>
          <td><%= link_to projeto.nome, projeto_path(projeto) %></td>
          <td><%= link_to projeto.entidade.nome, entidade_url(projeto.entidade_id) %></td>
          <% if user_signed_in? %>
            <td>
              <% if current_user.admin? or current_user.id == projeto.entidade.user_id %>
                <%= link_to 'Detalhes', projeto, :class => 'btn btn-mini btn-info' %>
                <%= link_to 'Editar', edit_projeto_path(projeto), :class => 'btn btn-mini btn-warning' %>
                <%= link_to 'Apagar', projeto, method: :delete, data: { confirm: 'Você tem Certeza?' }, :class => 'btn btn-mini btn-danger' %>
              <% end %>
            </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% else %>
  <h3>Nenhum Registro Encontrado. <%= link_to 'Cadastrar?', new_projeto_path %></h3>
<% end %>
