<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Todas", tipos_path, :class => "nav-link" %>
  </li>
  <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to 'Cadastrar', new_tipo_path, :class => "nav-link" %>
    </li>
  <% end %>
  <li class="nav-item">
    <%= link_to "Detalhes #{@tipo.nome}", tipo_path(@tipo), :class => "nav-link active" %>
  </li>
</ul>

<br/>

<div class="tab-content">
  <div class="tab-pane active">
    <%= image_tag @tipo.imagem.url(:medium) %>
    <br/><br/>
    <dl class="row">
      <dt class="col-sm-3"><strong>Nome:</strong></dt>
      <dd class="col-sm-9"><%= @tipo.nome %>&nbsp;</dd>

      <dt class="col-sm-3"><strong>Descrição:</strong></dt>
      <dd class="col-sm-9"><%= @tipo.descricao %>&nbsp;</dd>

      <% if ! @tipo.entidades.empty? %>
        <dt class="col-sm-3"><strong>Entidades:</strong></dt>
        <dd class="col-sm-9">
          <%= @tipo.entidades.map {|entidade| link_to entidade.nome, entidade_path(entidade)}.join(", ").html_safe %>&nbsp;
        </dd>
      <% end %>
    </dl>

    <hr/>
    <% if user_signed_in? %>
      <% if current_user.admin? or current_user.id == @tipo.user_id %>
        <div class="form-actions">
          <%= link_to "Voltar", tipos_path, :class => 'btn btn-success'  %>
          <%= link_to "Editar", edit_tipo_path(@tipo), :class => 'btn btn-warning' %>
          <%= link_to "Apagar", tipo_path(@tipo), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-danger' %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
