<b>O que é a Plataforma Faz Bem Fazer o Bem?</b>

<p>
Constitui-se em construir uma plataforma que aproxima por um lado interessados em ajudar o próximo, sejam eles indivíduos, grupos organizados ou empresas buscando atuar com ações de apoio social, e do outro lado instituições que prestam serviços sociais, sejam atuando com crianças, idosos, portadores de doenças, ou indivíduos rejeitados pela sociedade, entre outros grupos de apoio.
</p>

<p>
A proposta é que esta plataforma tenha como premissas fundamentais: promover um meio de doação facilitada, ter como prioridade a transparência nas atividades executadas, fornecer um processo de doação mais igualitário, isto é, nela todas as instituições terão a mesma possibilidade de receber doação sejam elas as instituições mais conhecidas/tradicionais ou as menos conhecidas da sociedade.
</p>

<b>Como surgiu?</b>

<p>
O núcleo do projeto iniciou-se de conversas entre dois amigos; um que participava de um pequeno grupo de apoio social, levando suprimentos como sopa, pão, biscoito e suco, em geral, a moradores de ruas da cidade de Salvador/BA, além de trabalhos em datas específicas em instituições de apoio social; e um outro que iniciou em um grande grupo de uma arquidiocese, da mesma cidade. Nestas conversas notou-se que as necessidades tanto dos moradores de ruas, como das instituições de apoio, em ter um suporte no processo de doação já que muitas das doações são equivocadas, isto é, receber itens que não são suprem a necessidade imediata, sendo em alguns casos, desnecessárias para certas instituições, gerando acúmulo de estoque, desperdícios, e até mau uso dos itens doados.
</p>

<p>
Dando maiores detalhes sobre as doações, em termos de históricos, há casos em que instituições receberam, no mês de dezembro, próximo ao período do Natal, cerca de cinco mil panetones de doações, entretanto tal instituição tem muita dificuldade em escoar tamanha quantidade de itens, mesmo tendo uma estrutura de ajuda social e procura por parte da sociedade.
</p>

<p>
As discussões foram gerando inquietações entre os dois, que continuaram seus afazeres em seus grupos, e partiram para desenvolver a ideia de um apoio independente destes, buscando aperfeiçoar o apoio dos grupos existentes. A profissionalização e a transparência junto ao público-alvo e instituições estavam sempre à tona nas ideias do projeto.
</p>
<br/>
<div _ngcontent-mld-23="" class="container">
    <router-outlet _ngcontent-mld-23=""></router-outlet><ng-component _nghost-mld-31="">        
        <div _ngcontent-mld-31="" class="row">
            <div _ngcontent-mld-31="" class="col-lg-12">
                <h2 _ngcontent-mld-31="" class="page-header">Quem somos</h2><br/>
            </div>
            <div _ngcontent-mld-31="" class="col-lg-4 col-sm-6 text-center">
                <img width="200" height="200" _ngcontent-mld-31="" alt="" class="img-circle img-responsive img-center" src="<%= asset_path 'cs.jpg' %>"">
                <h3 _ngcontent-mld-31="">Carlos Stucki
                </h3>
                <p _ngcontent-mld-31="">Especialista em Gestão de Negócios de Tecnologia da Informação, atuando nos últimos anos em desenho interno de organizações e, atualmente, está no SEBRAE, onde teve o contato com o tema empreendedorismo social e desde então busca empreender nesta linha. É um entusiasta de projetos estratégicos que proporcionem mudanças e que impactem positivamente no ambiente ao meu redor. Sua perspectiva é a de que tudo pode ser constantemente melhorado!</p>
            </div>
            <div _ngcontent-mld-31="" class="col-lg-4 col-sm-6 text-center">
                <img width="200" height="200" _ngcontent-mld-31="" alt="" class="img-circle img-responsive img-center" src="<%= asset_path 'marcelo.png' %>">
                <h3 _ngcontent-mld-31="">Marcelo Soares Souza
                </h3>
                <p _ngcontent-mld-31="">Consultor em Tecnologia na EMBRAPA. Com vinte anos de experiencia profissional na área de Tecnologia da Informação e Comunicação (TIC), é militante pela Inclusão e Cultura Digital, participando de ações envolvendo tecnologia e sociedade para o empoderamento da sociedade civil organizada. Cabe destacar o desenvolvimento de uma plataforma livre para o Mapeamento de Entidades Culturais brasileiras (mapadacultura.org), solução também utilizada no Observatório Saúde LGBT e no Observatório de Políticas de Atenção à Saúde Mental (OPSAM) da Universidade de Brasília.</p>
            </div>
            <div _ngcontent-mld-31="" class="col-lg-4 col-sm-6 text-center">
                <img width="200" height="200" _ngcontent-mld-31="" alt="" class="img-circle img-responsive img-center" src="<%= asset_path 'fran.png' %>"">
                <h3 _ngcontent-mld-31="">Francisco Meira
                </h3>
                <p _ngcontent-mld-31="">Profissional de finanças, com dez anos de experiência em auditoria e contabilidade em empresas multinacionais. Nestas, atuou sempre com atenção especial ao lado humano e social, buscando produtividade e eficiência no trabalho por meio da aproximação entre os indivíduos. Dedica-se diretamente em ações sociais a mais de um ano, nas ruas e entidades sociais na cidade de Salvador/BA, conhecendo assim as necessidades da população carentes e instituições de apoio. Acredita que fazer o bem, faz melhor ainda para quem o faz, por isso vestiu a camisa dessa causa.</p>
            </div>
            <div _ngcontent-mld-31="" class="col-lg-4 col-sm-6 text-center">
                <img width="200" height="200" _ngcontent-mld-31="" alt="" class="img-circle img-responsive img-center" src="<%= asset_path 'tata.png' %>"">
                <h3 _ngcontent-mld-31="">Thaís Hagale
                </h3>
                <p _ngcontent-mld-31="">Engenheira Florestal, pela Universidade de Brasília, possui pós-graduação em gestão pública e está cursando MBA em Gerenciamento de Projetos de TI. Com mais de cinco anos de experiência em gerenciamento de projetos, no ano de 2016, passou na certificação internacional PMP do renomado Project Management Institute (PMI). Atualmente, está na área de geoprocessamento, com foco causa indígena. Acredita que fazer o bem, faz melhor ainda para quem o faz, por isso vestiu a camisa dessa causa.</p>
            </div>
            <div _ngcontent-mld-31="" class="col-lg-4 col-sm-6 text-center">
                <img width="200" height="200" _ngcontent-mld-31="" alt="" class="img-circle img-responsive img-center" src="<%= asset_path 'dbs.jpg' %>"">
                <h3 _ngcontent-mld-31="">Daniel Serva
                </h3>
                <p _ngcontent-mld-31="">Engenheiro de software, possui MBA em Gestão Estratégica da Tecnologia da Informação pela Fundação Getúlio Vargas (FGV). Com mais de dez anos de experiência, atuou como consultor para o governo, instituições financeiras, seguro e telecomunicação. Atualmente trabalha como engenheiro de software em Dublin, Irlanda. Acredita que a educação e a tecnologia fazem parte do caminho para uma sociedade menos desigual.</p>
            </div>
            <div _ngcontent-mld-31="" class="col-lg-4 col-sm-6 text-center">
                <img width="200" height="200" _ngcontent-mld-31="" alt="" class="img-circle img-responsive img-center" src="<%= asset_path 'naldo.jpg' %>"">
                <h3 _ngcontent-mld-31="">Dagnaldo Silva
                </h3>
                <p _ngcontent-mld-31="">Cursando Sistemas de Informações, em Brasília, e, atualmente, trabalha na área de geoprocessamento, com foco na sustentabilidade e proteção territorial. Entre as causas que apoia está o compartilhamento e geração de conhecimento livre e acessível! Acredita que fazer o bem, faz melhor ainda para quem o faz, por isso vestiu a camisa dessa causa.</p>
            </div>
        </div>
</ng-component>
</div>
