<% if ! @pedidos.empty? %>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Todas", pedidos_path, :class => "nav-link active" %>
  </li>
  <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to 'Cadastrar', new_pedido_path, :class => "nav-link" %>
    </li>
  <% end %>
</ul>

<div class="tab-content">
  <div class="tab-pane active"><br/>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Descrição</th>
          <th>Projeto</th>
          <th>Entidade</th>
          <% if user_signed_in? %> <th colspan="3"></th> <% end %>
        </tr>
      </thead>

      <tbody>
        <% @pedidos.each do |pedido| %>
        <tr>
          <td><%= link_to pedido.tipo, pedido_path(pedido) %></td>
          <td><%= link_to pedido.descricao, pedido_path(pedido) %></td>
          <td><%= link_to pedido.projeto.nome, projeto_path(pedido.projeto) %></td>
          <td><%= link_to pedido.projeto.entidade.nome, entidade_path(pedido.projeto.entidade) %></td>
          <% if user_signed_in? %>
            <td>
              <% if current_user.admin? or current_user.id == pedido.projeto.entidade.user_id %>
                <%= link_to 'Detalhes', pedido, :class => 'btn btn-info btn-sm' %>
                <%= link_to 'Editar', edit_pedido_path(pedido), :class => 'btn btn-warning btn-sm' %>
                <%= link_to 'Apagar', pedido, method: :delete, data: { confirm: 'Você tem Certeza?' }, :class => 'btn btn-danger btn-sm' %>
              <% end %>
            </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% else %>
  <% if ! @projetos.empty? %>
    <h3>Nenhum Registro Encontrado. <%= link_to 'Cadastrar?', new_pedido_path %></h3>
  <% else %>
    <h3>Você precisa cadastrar pelo menos um Projeto. <%= link_to 'Cadastrar?', projetos_path %></h3>
  <% end %>
<% end %>
