<% if ! @entidades.empty? %>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Todas", entidades_path, :class => "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Cadastrar', new_entidade_path, :class => "nav-link" %>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active"><br/>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>CNPJ</th>
          <th>Responsável</th>
          <th>Projetos</th>
          <% if user_signed_in? %> <th colspan="3"></th> <% end %>
        </tr>
      </thead>

      <tbody>
        <% @entidades.each do |entidade| %>
        <tr>
          <td><%= link_to entidade.nome, entidade_path(entidade) %></td>
          <td><%= entidade.cnpj %></td>
          <td><%= entidade.user.nome %></td>
          <td><%= link_to entidade.projetos.count, entidade_projetos_url(entidade.id) %></td>
          <% if user_signed_in? %>
            <td>
              <% if current_user.admin? or current_user.id == entidade.user_id %>
                <%= link_to 'Detalhes', entidade, :class => 'btn btn-mini btn-info' %>
                <%= link_to 'Editar', edit_entidade_path(entidade), :class => 'btn btn-mini btn-warning' %>
                <%= link_to 'Apagar', entidade, method: :delete, data: { confirm: 'Você tem Certeza?' }, :class => 'btn btn-mini btn-danger' %>
              <% end %>
            </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% else %>
  <h3>Nenhum Registro Encontrado. <%= link_to 'Cadastrar?', new_entidade_path %></h3>
<% end %>
