    <nav class="navbar navbar-meio">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <%= link_to "Porquê", porque_url %>
        </li>

        <li class="nav-item">
          <%= link_to "Como", como_url %>
        </li>

        <li class="nav-item">
          <%= link_to "Instituições", entidades_url %>
        </li>

        <li class="nav-item">
          <%= link_to "Doadores", doadores_url %>
        </li>

        <li class="nav-item">
          <%= link_to "Parceiros", parceiros_url %>
        </li>
      </ul>
    </nav>
