    <nav class="navbar navbar-fixed-top navbar-dark navbar-topo">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <%= link_to "Quem somos?", sobre_url, :style => "font-style: italic; font-weight: bold;" %>

        <li class="nav-item">
          <%= link_to image_tag("fb.png", size: "16x16"), "https://www.facebook.com/fazbemfazerobemoficial", :target => "_blank" %>
          &nbsp;
          <%= link_to image_tag("twitter.png", size: "16x16"), "https://twitter.com/fazerobem_tw", :target => "_blank" %>
        </li>

        <% if current_user %>
          <li class="nav-item" id='login-logout'>
            <%= link_to image_tag(current_user.imagem(:thumb), :size => "32x32", :style => "float: left;"), user_path(current_user) %>
            &nbsp;&nbsp;
            <%= link_to('Sair', destroy_user_session_path, :method => :delete, :class => "nav-link", :style => "float: right;") %>
          </li>
        <% end %>
      </ul>
    </nav>

    <div class="alerta" role="alert">
      <center>
        Este é apenas um Protótipo em Desenvolvimento. Gostaria de nos ajudar? Entre em contato pelo E-Mail: <a href="mailto:equipe@fazbemfazerobem.org">equipe@fazbemfazerobem.org</a>
        <br/>
        <a href="https://www.catarse.me/fazbem_fazerobem" target="_blank"><b>Ou Contribua com o Financiamento Coletivo no Catarse</b></a>
    </div>
