<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Doar</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
      <a class="navbar-brand" href="/">Início</a>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/sobre">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/entidades">Entidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projetos">Projetos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pedidos">Pedidos</a>
        </li>
        <% if current_user %>
          <% if current_user.admin? %>
            <li class="nav-item">
              <a class="nav-link" href="/tipos/">Tipos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/">Usuários</a>
            </li>
          <% end %>
          <li class="nav-item" id='login-logout'>
            <%= link_to('Sair (' + current_user.nome + ')', destroy_user_session_path, :method => :delete, :class => "nav-link") %>
          </li>
          <% else %>
            <li class="nav-item" id='login-logout'>
              <%= link_to('Entrar', new_user_session_path, :class => "nav-link") %>
            </li>
          <% end %>
      </ul>
    </nav>

    <div class="container">
      <div class="starter-template">
        <% if notice %>
          <div class="alert alert-info alert-dismissible fade in" role="alert">
            <%= notice %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>

        <% if alert %>
          <div class="alert alert-warning alert-dismissible fade in" role="alert">
            <%= alert %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>

        <%= yield %>
      </div>

    </div><!-- /.container -->

    <script>
      $(document).ready(function() {
        $(".alert").fadeTo(2000, 500).slideUp(500, function(){
          $(".alert").slideUp(500);
        });
      });
    </script>
  </body>
</html>
