<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Doar</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-dark navbar-topo">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <%= link_to "Quem somos?", sobre_url, :style => "font-style: italic; font-weight: bold;" %>
        <li class="nav-item">
          <%= link_to image_tag("fb.png", size: "16x16"), image_path("fb.png") %>
          &nbsp;
          <%= link_to image_tag("twitter.png", size: "16x16"), image_path("fb.png") %>
          &nbsp;
          <%= link_to image_tag("youtube.png", size: "16x16"), image_path("fb.png") %>
        </li>
        <% if current_user %>
          <li class="nav-item" id='login-logout'>
            <%= link_to('Sair', destroy_user_session_path, :method => :delete, :class => "nav-link") %>
          </li>
        <% end %>

      </ul>
    </nav>

    <div class="main-info">
      <div class="main-logo">
        <%= link_to image_tag("logo.png"), image_path("logo.png") %>
      </div>

      <div class="main-login">
        <% if ! current_user %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="main-user">
            <%= f.label "Usuário", :style => "font-size: 11px; font-weight: bold; color: #93CEFE;" %>
            <br/>
            <div>
              <%= f.email_field :email, :placeholder => "E-Mail", autofocus: true, :style => "border: 0px; border-bottom: 1px solid #229BFD;" %>
            </div>
          </div>

          <div class="main-password">
            <%= f.label "Senha", :style => "font-size: 11px; font-weight: bold; color: #93CEFE;" %>
            <br/>
            <%= f.password_field :password, :placeholder => "Senha", autocomplete: "off", :style => "border: 0px; border-bottom: 1px solid #229BFD;"   %>
          </div>
          <br/>
          <div class="actions">
            <%= f.submit "Doar", class: "btn btn-warning doar" %>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>

    <nav class="navbar navbar-meio">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <%= link_to "Porquê", "#" %>
        </li>
        <li class="nav-item">
          <%= link_to "Como", "#" %>
        </li>

        <li class="nav-item">
          <%= link_to "Instituições", entidades_url %>
        </li>

        <li class="nav-item">
          <%= link_to "Doadores", "#" %>
        </li>

        <li class="nav-item">
          <%= link_to "Parceiros", "#" %>
        </li>
      </ul>
    </nav>    
    <div class="container">
      <div class="starter-template">
        <% if notice %>
          <div class="alert alert-info alert-dismissible fade in" role="alert">
            <%= notice %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>

        <% if alert %>
          <div class="alert alert-warning alert-dismissible fade in" role="alert">
            <%= alert %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>

        <%= yield %>
      </div>

    </div><!-- /.container -->

    <script>
      $(document).ready(function() {
        $(".alert").fadeTo(2000, 500).slideUp(500, function(){
          $(".alert").slideUp(500);
        });
      });
    </script>
  </body>
</html>
