<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="Faz Bem Fazer o Bem constitui-se em um ambiente que aproxima de um lado os interessados em ajudar o próximo, sejam eles indivíduos, grupos organizados ou empresas buscando atuar com ações de apoio social; e do outro, instituições que prestam serviços sociais, sejam apoiando crianças, idosos, portadores de doenças, indivíduos rejeitados pela sociedade, entre outros grupos de apoio.">
    <meta name="author" content="Equipe Faz Bem Fazer o Bem">
    <title>Faz Bem Fazer o Bem - Uma plataforma social que irá mudar o jeito de ajudar o próximo</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar_topo" %>
    <%= render "layouts/logo" %>
    <%= render "layouts/menu" %>

    <br/>

    <%= render "layouts/content" %>

    <br/>

    <%= render "layouts/footer" %>

  </body>
</html>
